.designColorText {
    color: rgba(40,170,225,1)
}
.designBackground100 {
    background-color: rgba(40,170,225,1)
}
.designBackground80 {
    background-color: rgba(40,170,225,0.8)
}
.borderDesignTheme {
    border: 3px solid rgba(40,170,225,1);
    box-shadow: 1px 1px 5px rgba(40,170,225,1);
}
.designActionButton {
    color: rgba(40, 170, 225, 1);
    border: 2px solid rgba(40, 170, 225, 1);
}
.designActionButton:hover {
    color: #ffffff;
    background-color: rgba(40, 170, 225, 1);
}
.designInverseButton {
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 8px 12px 8px 12px;
}
.designInverseButton:hover {
    color: rgba(40, 170, 225, 1);
    padding: 8px 12px 8px 12px;
    background-color: #ffffff;
}
.z-500 {
    z-index: 500;
}
.z-501 {
    z-index: 501;
}
.fit-content{
    height: fit-content;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #28aae1;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #28aae1;
}
.arrow-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #28aae1;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #28aae1;
}
.custom-item:hover .salmon-border {
    border-bottom-color: #ff8966;
}
.salmon-border-selected{
    border-bottom-color: #ff8966;
}
.herbicide-trait-button{
    min-height: 4rem;
}
.tutorial-active{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 600;
    background: rgba(255, 255, 255, 0.2);
}